<div class="container">
  <div class="row">
    <div class="col-12 mb-5">
      <h1 class="text-center">חישוב הזמנת שוברי נסיעה לרכבת</h1>
    </div>
  </div>
  <form [formGroup]="calculatorForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4">
        <mat-form-field>
          <mat-label>בחר תאריך ושעת יציאה</mat-label>
          <input matInput type="datetime-local" formControlName="leavingTime">
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
      </div>
      <!--      <div class="col-3">-->
      <!--        <mat-form-field>-->
      <!--          <mat-label>בחר תאריך ושעת חזרה</mat-label>-->
      <!--          <input matInput type="datetime-local" formControlName="wayBackTime">-->
      <!--        </mat-form-field>-->
      <!--      </div>-->
      <div class="col-2 mt-0">
        <button class="btn btn-primary btn-lg" (click)="calculate()">חשב</button>
      </div>
      <div class="col-6 lead mt-3" *ngIf="isCalculated">
        ניתן להזמין שובר לנסיעה זו החל מיום {{ leavingOrderedTime }} ({{ leavingFromNow }})
      </div>
    </div>
  </form>




</div>



